*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 56.25%; } }

body {
  background-color: #ffffff;
  color: #333333;
  font-size: 1.6rem;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600; }

.wrapper {
  padding: 4rem;
  display: grid;
  justify-content: center;
  align-items: flex-start;
  grid-template-columns: minmax(400px, 500px) max-content;
  column-gap: 10rem; }
  @media only screen and (max-width: 1200px) {
    .wrapper {
      column-gap: 5rem; } }
  @media only screen and (max-width: 900px) {
    .wrapper {
      padding: 2rem;
      grid-template-columns: max-content; } }
  @media only screen and (max-width: 600px) {
    .wrapper {
      padding: 2rem 1.3rem;
      grid-template-columns: minmax(350px, max-content); } }

.form-container {
  grid-column: 1 / 2; }
  @media only screen and (max-width: 900px) {
    .form-container {
      order: 2; } }

.checkout-container {
  grid-column: 2 / 3;
  padding: 3rem;
  background-color: #f2f2f2;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px; }
  @media only screen and (max-width: 900px) {
    .checkout-container {
      margin-top: 3rem;
      grid-column: 1 / 2;
      order: 1; } }

.heading-2 {
  color: #4e5150;
  font-size: 3.6rem; }

.heading-3 {
  margin-top: 5rem;
  font-size: 1.8rem; }

.form__group {
  display: flex;
  flex-direction: column;
  position: relative; }

.form__label:not(:last-child) {
  margin-top: 1.4rem;
  font-size: 12px;
  color: #4f4f4f; }

.form__input {
  margin-top: 0.7rem;
  font-family: inherit;
  color: #828282;
  border: none;
  border: 1px solid #828282;
  border-radius: 12px;
  padding: 1.4rem 4rem;
  width: 100%;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s; }
  .form__input::placeholder {
    font-weight: bold; }
  .form__input:focus {
    border: 1px solid #29e483;
    outline: none; }
  .form__input:focus:invalid {
    border: 1px solid #f2994a; }
  .form__input--select {
    width: 90%; }
  .form__input--name::placeholder {
    color: #333333; }

.form--country {
  width: 47.5%;
  position: relative;
  display: inline-flex;
  flex-direction: column; }

.form--postal {
  width: 51%;
  display: inline-flex;
  position: relative;
  flex-direction: column; }

.form__checkbox {
  margin-top: 1.4rem;
  display: flex;
  align-items: flex-start;
  filter: invert(0%) hue-rotate(200deg) brightness(1);
  -webkit-filter: invert(0%) hue-rotate(200deg) brightness(1); }
  .form__checkbox--input {
    cursor: pointer;
    margin-right: 1rem; }
  .form__checkbox--label {
    font-size: 12px;
    cursor: pointer;
    line-height: 1.6; }

.form__btn--right {
  text-align: end; }

.form__btn {
  font-family: inherit;
  font-weight: inherit;
  background-color: #f2994a;
  color: #ffffff;
  font-size: 1.6rem;
  margin-top: 2rem;
  padding: 1.7rem 4.5rem;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4); }

.form__btn:active {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  transform: translateY(0.2rem);
  -webkit-transform: translateY(0.2rem);
  -moz-transform: translateY(0.2rem);
  -ms-transform: translateY(0.2rem);
  -o-transform: translateY(0.2rem); }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f2f2f2;
  min-width: 160px;
  top: 8rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dropdown-content a:link,
.dropdown-content a:visited {
  color: #333333;
  font-size: 1.4rem;
  padding: 1rem 1.4rem;
  text-decoration: none;
  display: block; }

.dropdown-content a:hover {
  background-color: #ddd; }

.dropdown:hover .dropdown-content {
  display: block; }

@media only screen and (hover: none) {
  .form__input--select:focus + .dropdown-content {
    display: block; } }

.icon {
  height: 2.1rem;
  width: 2.1rem;
  display: inline;
  position: absolute;
  bottom: 1.3rem;
  left: 1rem; }

.checkout {
  display: flex;
  margin-bottom: 3rem;
  justify-content: center;
  align-items: center; }
  .checkout__img {
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    height: 135px;
    width: 135px; }
  .checkout__info {
    margin-left: 2rem;
    flex-grow: 1; }
    @media only screen and (max-width: 900px) {
      .checkout__info {
        flex-grow: 0;
        flex-basis: 150px; } }
  .checkout__item {
    color: #4e5150;
    line-height: 2; }
  .checkout__payment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
    width: 80%; }
  .checkout__cost {
    color: #f2994a; }
  .checkout__discount {
    font-size: 12px;
    text-decoration: line-through;
    color: #4e5150; }
  .checkout__quantity {
    display: flex;
    padding: 1.5rem 1.3rem;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #828282;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px; }
  .checkout__btn {
    background-color: #e0e0e0;
    display: flex;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s;
    -webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -ms-transition: transform 0.2s;
    -o-transition: transform 0.2s; }
  .checkout__btn:active {
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg); }

.details {
  border-top: 1px solid #828282;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between; }
  .details__text {
    font-size: 1.8rem; }
  .details__price {
    font-size: 14px; }

.checkout:nth-child(2n) {
  margin-bottom: 9rem; }

.footer {
  text-align: center;
  color: #828282;
  font-weight: 500;
  margin: 8rem auto 2rem auto; }
  .footer span {
    text-decoration: underline;
    font-weight: 700; }

.footer__link:link,
.footer__link:visited {
  text-decoration: none;
  color: inherit; }
